html {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h1 {
	margin: 0px; padding: 0px; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; font-weight: normal;
}
p {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
ul li {
	margin: 0px; padding: 0px;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
img {
	border: currentColor; -webkit-tap-highlight-color: transparent;
}
